# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- Python
- R:
- SQL

#### Some of the popular languages that Data Scientist use are:

## Some of the popular languages that Data Scientists uses are:

1. Python
2. R:
3. SQL

## Some of the commonly used librabies used by Data Scientists include:

1. Numpy
2. Panda
3. Matplotlib
4. SciKit-Learn
5. SciPy
6. TensorFlow

## Data Science Tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| VS Code |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author
***Ratana Thuon***